/* header: menu e banner */

.navbar {
	background-color: #4b1c71;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.logo {
	font-size: 30px;
	font-weight: bold;
}

.menu {
	list-style: none;
	display: flex;
}

.menu li {
	margin-right: 40px;
}

.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 23px;
	transition: color 0.3s;
}

.menu a:hover {
	color: #b57edc;
}

.banner {
	width: 100%;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	display: block;
}

/* Seção Nossa História */

.nossa-historia {
	display: flex;
	align-items: center;
	padding: 50px;
	background-color: #d1c1e0;
}

.foto-casal {
	flex: 1;
	text-align: center;
}

.foto-casal img {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.historia-texto {
	flex: 2;
	padding-left: 50px;
}

.historia-texto h2 {
	font-size: 35px;
	margin-bottom: 10px;
}

.historia-texto p {
	font-size: 25px;
}

/* Seção Confirma Presença */

.confirmar-presenca {
	margin-top: 50px;
	text-align: center;
	padding: 50px;
	background-color: #fff0ff;
}

.confirmar-presenca h2 {
	font-size: 35px;
	margin-bottom: 10px;
}

.form-confirmacao {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
}

.form-confirmacao label {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-confirmacao input,
.form-confirmacao select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-confirmacao button {
	background-color: #b57edc;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	transition: background-color 0.3s;
}

.form-confirmacao button:hover {
	background-color: #7f4ca5;
}

/* seção Lista de Presentes */

.lista-presentes {
	margin-top: 50px;
	text-align: center;
	padding: 50px;
	background-color: #d1c1e0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lista-presentes h2 {
	font-size: 35px;
    margin-bottom: 10px;
}

.lista-presentes p {
	font-size: 23px;
    margin-bottom: 20px;
}

.presentes {
	list-style: none;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

.presentes input[type="checkbox"] {
	margin-right: 10px;
}

.presentes li.checked {
	text-decoration: line-through;
	color: #413b44;
}

.coluna {
	width: 50%;
	text-align: left;
	padding: 0 10px;
}

.coluna li {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.botao-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

#botao-presentes {
    background-color: #b57edc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size: 20px;
    transition: background-color 0.3s;
	margin-top: 20px;
}

#botao-presentes:hover {
    background-color: #7f4ca5;
}

/* seção Localização */

.localizacao {
    text-align: center;
    padding: 50px;
    background-color: #fff0ff;
}

.localizacao h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.localizacao p {
    font-size: 25px;
    margin-bottom: 20px;
}

.local-imagem {
    text-align: center;
}

.local-imagem img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.local-imagem p {
    font-size: 24px;
    margin-top: 10px;
}

/* Rodapé */

.rodape {
    text-align: center;
    padding: 20px;
    background-color: #4b1c71;
    color: #fff;
}

.rodape p {
    font-size: 18px;
    margin: 0;
}

/* Responsivo */

/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .logo {
        font-size: 24px;
    }
    .menu li {
        margin-right: 20px;
    }
    .menu a {
        font-size: 18px;
    }
	.confirmar-presenca {
        padding: 30px; 
    }
    .lista-presentes {
        padding: 30px; 
        height: auto; 
    }
    .coluna {
        width: 100%; 
    }
}

/* Estilos para telas muito pequenas (até 480px) */
@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }
    .menu li {
        margin-right: 10px;
    }
    .menu a {
        font-size: 16px;
    }
    .banner img {
        height: auto;
    }
}










  

